# Interface e Dashboard
streamlit>=1.35.0

# Manipulacao de Dados
pandas>=2.2.0
openpyxl>=3.1.2

# Visualizacao de Dados
plotly>=5.22.0

# Integracao com Google Drive e Sheets API
google-api-python-client>=2.130.0
google-auth-httplib2>=0.2.0

# Requisicoes HTTP e Retry
requests>=2.32.0

# Gerenciamento de Variaveis de Ambiente
python-dotenv>=1.0.1

# Fuso Horario
pytz>=2024.1